/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
  background: #000;
  color: #fff;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav a {
  color: #fff;
  margin-left: 20px;
  font-weight: 500;
}

.nav a:hover {
  color: #e10600;
}

/* BANNER */
.banner img {
  width: 100%;
  height: auto;
  display: block;
}

/* MARCAS */
.marcas {
  padding: 60px 40px;
  text-align: center;
}

.marcas h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.marcas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 40px;
  align-items: center;
}

.marcas-grid img {
  max-width: 140px;
  margin: auto;
  filter: none; /* MUY IMPORTANTE: sin grises */
}

/* FOOTER */
.footer {
  background: #000;
  color: #ccc;
  text-align: center;
  padding: 25px 10px;
  margin-top: 60px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 15px;
  }

  .nav a {
    margin: 0 10px;
  }

  .marcas h2 {
    font-size: 26px;
  }
}

/* SECCIONES */
section {
  padding: 20px;
}

h2 {
  margin-bottom: 15px;
}

/* CARDS */
.cards {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.card {
  min-width: 160px;
  background: #fff;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card span {
  color: red;
  font-weight: bold;
}

/* CATEGORÍAS */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.grid a {
  background: #000;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}

/* WHATSAPP */
.btn-ws {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  padding: 15px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
}
