body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  color:#111;
}

* HEADER */
    header{
      background:#000;
      color:#fff;
      padding:12px 20px;
      display:flex;
      align-items:center;
      justify-content:space-between;
    }
    header h1{font-size:20px;margin:0}
    nav a{margin-left:15px;font-size:14px}


.top{
  padding:40px 20px;
  text-align:center;
}

.grid-repuestos{
  max-width:1200px;
  margin:auto;
  padding:0 20px 60px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:30px;
}

.repuesto{
  text-decoration:none;
  color:#111;
}

.repuesto img{
  width:100%;
  height:220px;
  object-fit:cover;
  border-radius:8px;
}

.repuesto h3{
  font-size:15px;
  margin:12px 0 5px;
}

.precio{
  font-weight:bold;
}
