body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  color:#111;
}

/*HEADER */
    header{
      background:#000;
      color:#fff;
      padding:12px 20px;
      display:flex;
      align-items:center;
      justify-content:space-between;
    }
    header h1{font-size:20px;margin:0}
    nav a{
  color: white;
  text-decoration: none;
}

nav a:hover{
  color: #e10600; /* opcional: rojo al pasar el mouse */
}


.top{
  padding:40px 20px;
  text-align:center;
  background:#ffffff;
}

.grid-repuestos{
  max-width:1200px;
  margin:auto;
  padding:0 20px 60px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:30px;
}

.repuesto{
  text-decoration:none;
  color:#111;
}

.repuesto img{
  width:100%;
  height:220px;
  object-fit:cover;
  border-radius:8px;
}

.repuesto h3{
  font-size:15px;
  margin:12px 0 5px;
}

.precio{
  font-weight:bold;
}


.producto-card{
  text-align:center;
}

.producto-img{
  position:relative;
  overflow:hidden;
  border-radius:15px;
}

.producto-img img{
  width:100%;
  display:block;
  transition:opacity 0.4s ease;
}

.img-atras{
  position:absolute;
  top:0;
  left:0;
  opacity:0;
}

.producto-img:hover .img-atras{
  opacity:1;
}

.producto-img:hover .img-frente{
  opacity:0;
}

.producto-card h3{
  font-size:15px;
  margin:12px 0 5px;
}

.descripcion{
  font-size:13px;
  color:#555;
  margin-bottom:10px;
}

.precio{
  margin-bottom:12px;
}

.precio-anterior{
  text-decoration:line-through;
  color:#999;
  margin-right:6px;
}

.precio-actual{
  color:#e10600;
  font-weight:bold;
  font-size:16px;
}
